$active-color: #36a836;

html,
body {
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
  color: #333;
}

.clear:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.clear {
  zoom: 1;
}

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.margin {
  margin: 0 auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paddingTop {
  padding-top: 1.95rem;
}

@keyframes backOpacity {
  0% {
    opacity: 1
  }
  25% {
    opacity: .5
  }
  50% {
    opacity: 1
  }
  75% {
    opacity: .5
  }
  100% {
    opacity: 1
  }
}

.animation_opactiy {
  animation: backOpacity 2s ease-in-out infinite;
}


a {
  color: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}
svg {
  max-width: 100%;
}

#root, .app {
  height: 100%;
}
.page {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  margin-bottom: 8vh;


  &.no-footer {
    margin-bottom: 0;
  }

  &.empty {
    height: 100%;

    > .page-loading {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.sticky {
    margin-top: 2rem;

    header {
      position: fixed;
      top: 0;
      z-index: 100;
    }
  }

  header {
    display: flex;
    width: 100%;
    padding: 0.4rem 0.6rem;
    align-items: stretch;
    background: #36a836;
    justify-content: stretch;
    position: relative;
    height: 2rem;

    .goback {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      line-height: 100%;
      display: flex;
      align-items: center;
      width: 16%;
      padding-left: 0.4rem;
      z-index: 1;

    }


    h1 {
      flex-grow: 1;
      text-align: center;
      font-size: 0.8rem;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 8vh;
  }

  .page-row {
    padding: 0 0.4rem;

    h5 {
      font-size: 0.8rem;
      line-height: 2;
      color: #888888;
    }

  }


  .am-search {
    background-color: #36a836;
    height: 7vh;
  }

  .am-search-cancel {
    color: #ffffff;
  }

  .am-search-input .am-search-clear-show {
    height: 100%;
    padding: 0 0.8rem;
  }

  .am-tabs-default-bar-tab-active {
    color: $active-color;
    font-weight: bold;
  }

  .am-tabs-default-bar-underline {
    border-color: $active-color;
    background: $active-color;
  }


  .am-button {
    font-size: 0.7rem;
    background: transparent;
    color: #ffffff;
    font-weight: bold;
  }
  
  .am-button.am-button-disabled {
    color: #ffffff;
  }
  
  .arrow-align {
    display: flex;
    align-items: center;
  }
  
  .am-flexbox-item.am-pagination-wrap {
    display: none;
  }

  .am-tabs-default-bar-tab {
    font-size: 0.6rem;
  }

}




html:not([data-scale]) .am-button::before {
  display: none;
}



.img-wrap {
  font-size: 0;
  letter-spacing: 0;
}

img.background {
  position: absolute;
  top: 0;
  width: 100%;
  filter: blur(13px);
}

section p {
  line-height: 1.6;
  letter-spacing: 1.2px;
  font-size: 0.6rem;
}
